* {
  --link-hover-color: #ff66ad;
  --link-color: #5300a0;
}

html {
  direction: rtl;
  font-size: 18px;
  text-shadow: 0 0 0 2px black;
}

body {
  font-size: 19px;
  margin: 7px;
}

/* sections */

.topic-item.container {
  height: calc(100vh - 100px);
}

/* Primary section */

#primary-section {
  background-image: url(../Images/Img-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  font-size: 170%;
  margin: 0;
  color: #20ff00;
  text-shadow: 0 0 4px black;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

a {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  color: var(--link-hover-color);
}

.header-link {
  font-size: 30px;
}

/* Nav bar */

header {
  height: 100px;
}

nav {
  background-color: #3a3a3a;
  color: white;
  width: 100vw;
  display: grid;
  margin-right: -7px;
  margin-top: -7px;
}

nav ul li {
  padding: 3px 2px 2px;
  margin: 6px 4px 2px;
}

nav ul li a {
  padding: 5px;
  margin: 3px;
  border: 1px solid white;
  color: #f82c2c;
}

nav ul li a:hover {
  color: var(--link-hover-color);
}

nav ul .list-unformat {
  align-items: center;
  text-align: center;
}
.list-unformat {
  list-style: none;
  padding-left: 0;
}
.ul-unformat {
  padding-right: 0;
  margin: 0;
}

nav > ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

nav > ul li > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* First slide content */

.home-nav-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 90px;
  justify-content: center;
  font-size: 20px;
  height: 75%;
}

.solutions-nav-list-home {
  color: white;
  text-shadow: 0 0 3px #000000ff;
}

.solutions-nav-list-home a {
  color: var(--link-hover-color);
}

.solutions-nav-list-home a:hover {
  color: var(--link-color);
}

.home-nav-list-sub {
  font-size: 25px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
}

.home-nal-list-sub-lists {
  padding: 10px;
  margin: 5px;
  font-size: 20px;
  list-style: inherit;
  font-weight: normal;
  text-shadow: none;
}
